* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 150px;
    user-select: none;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    position: relative;
    background: linear-gradient(45deg, rgb(0, 0, 167), rgb(0, 0, 0), rgb(153, 0, 0));
}

.container {
    background-color: rgba(193, 193, 186, 0.351);
    backdrop-filter: blur(15px) saturate(150%);
    border-radius: clamp(15px, 3vw, 20px);
    padding: clamp(1rem, 4vw, 2.5rem);
    width: min(90%, 1800px);
    margin: clamp(5rem, 8vw, 8rem) auto;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    color: #fff;

    opacity: 0;
    transform: scale(0.8) translateY(30px);
    animation: animate 0.3s ease-out 0.2s forwards;
}

.container2 {
    background-color: rgba(193, 193, 186, 0.142);
    border-radius: 25px;
    padding: clamp(1rem, 4vw, 2.5rem);
    width: min(90%, 1800px);
    margin: clamp(5rem, 8vw, 8rem) auto;
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: white;
}

.container3 {
    background-color: #858585b3;
    box-shadow: 0px 0px 12px #ffffff;
    border-radius: clamp(15px, 4vw, 20px);
    border: #000000;
    padding: clamp(1rem, 5vw, 4rem);
    width: min(90%, 80rem);
    margin: clamp(8rem, 10vw, 10rem) auto;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.aboutContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.nav {
    position: fixed;
    inset: 1rem 0 auto 0;
    margin-inline: auto;
    width: clamp(1rem, 49vw, 47rem);
    z-index: 1000;
    background-color: rgba(135, 135, 135, 60%);
    backdrop-filter: blur(30px) saturate(150%);
    border-radius: clamp(10px, 2vw, 20px);
    padding: clamp(0.5rem, 2vw, 1rem);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.8) translateY(30px);
    animation: animate 0.3s ease-out 0.2s forwards;

}

.nav-ul {
    display: flex;
    gap: clamp(1rem, 4vw, 3rem);
    list-style: none;
    font-size: clamp(0.5rem, 2vw, 1.3rem);
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.menu-icon {
    display: none;
}

.nav-ul a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

.nav-ul a:hover {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-ul a.active {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.styleH {
    display: flex;
    justify-content: center;
    font-size: clamp(1.5rem, 3vw, 8rem);
    padding: 8rem;
    color: white;

    opacity: 0;
    transform: scale(0.8) translateY(30px);
    animation: animate 0.8s ease-out 0.5s forwards;
}

.styleH2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

.styleP {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-style: italic;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    opacity: 0;
    transform: scale(1) translateY(30px);
    animation: pAnimations 1s ease-out 0.7s forwards;
}

.styleP2 {
    font-size: clamp(1rem, 3vw, 1.4rem);
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: clamp(3rem, 12vw, 12rem);
    opacity: 0;
    transform: scale(1) translateY(30px);
    animation: pAnimations 1s ease-out 0.7s forwards;
}

.styleP2 p {
    margin-bottom: 3rem;
}

.styleP3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.img-personal {
    width: 20rem;
    mask-image: linear-gradient(black 50%, transparent);
    filter: grayscale(0%);
}

.sections-fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1.1s ease;
}

.sections-fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px;
}

.cards {
    display: block;
    text-decoration: none;
    color: inherit;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: clamp(1rem, 2vw, 3rem);
    box-shadow: 0 0px 8px rgb(0, 0, 0);
    transition: box-shadow 0.5s ease;
}

.cards:hover {
    box-shadow: 0 0px 25px rgb(255, 255, 255);
}

.img-proyects {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

.container-options {
    display: flex;
    justify-content: center;
    padding: clamp(1rem, 4vw, 1.5rem);
    gap: 3rem;
}

.btn-options {
    width: clamp(8rem, 20vw, 11rem);
    height: clamp(3rem, 4vw, 3rem);
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 8px rgb(0, 0, 0);
    transition: box-shadow 0.5s ease;
}

.btn-options:hover {
    box-shadow: 0px 8px 12px rgb(0, 0, 0);
}

.btn-demo {
    background: white;
    border: 3px solid black;
    color: black;
}

.btn-Repository {
    background: black;
    color: white;
}

.btn-social-media {
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.1s ease;
}

.btn-linkedin {
    background: #0289d1c3;
    box-shadow: 0px 0px 6px #0289d1;
    color: white;
}

.btn-email {
    background: #ffffff;
    box-shadow: 0px 0px 6px #ffffffc3;
    color: black;
}

.btn-github {
    background: #000000;
    box-shadow: 0px 0px 8px #000000c3;
    color: white;
}

.btn-linkedin:hover {
    box-shadow: 0px 0px 22px #0289d1;
}

.btn-email:hover {
    box-shadow: 0px 0px 22px #000000c3;
}

.btn-github:hover {
    box-shadow: 0px 0px 22px #ffffffc3;
}

.github {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.play {
    width: 22px;
    height: 22px;
    margin-left: 10px;
}

.img-social-media {
    width: 2.5rem;
    height: clamp(2rem, 3vw, 3rem);
    margin-right: 2rem;
}

.modalAlert {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1px) saturate(150%);
}

.modalAlert.show {
    display: flex;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
    animation: viewModal 0.5s ease;
}

.acceptButton {
    padding: 10px 20px;
    background: rgb(153, 0, 0);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.acceptButton:hover {
    background-color: rgb(0, 0, 0);
}

.noScroll {
    overflow: hidden;
}

/* fotogramas Clave */
@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes pAnimations {
    0% {
        opacity: 0;
        transform: scale(1) translateY(30px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

}

@keyframes viewModal {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Medias */
@media (max-width: 978px) {
    .styleH {
        font-size: 1.3rem;
        justify-content: center;
        gap: 3rem;
    }

    .aboutContent {
        flex-direction: column;
        text-align: center;
        gap: 5rem;
    }

    .img-personal {
        margin-top: 0px;
        max-width: 60%;
    }
}

@media (max-width: 1470px) {
    .img-proyects {
        width: 17.5rem;
    }
}

@media (max-width: 700px) {
    .container3 {
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        text-align: center;
        z-index: 1001;
        position: relative;
        font-size: clamp(1.5rem, 4vw, 2rem);

        transition: all 0.4s;
    }

    .menu-icon:active {
        transform: rotate(180deg) scale(1.1);
    }

    .nav-ul {
        display: none;
    }

    .nav {
        width: clamp(3rem, 7vw, 5rem);
        height: clamp(3rem, 6vw, 5rem);
    }

    .nav.show {
        position: fixed;
        inset: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(85, 85, 85, 0.56);
        backdrop-filter: blur(15px) saturate(150%);
        border-radius: 0;
        padding: 2rem;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        z-index: 1000;
    }

    .nav-ul.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: clamp(2rem, 7vw, 3rem);
        margin-top: 5rem;
        gap: clamp(5rem, 8vw, 7rem);

        opacity: 0;
        transform: scale(0.8) translateY(30px);
        animation: animate 0.3s ease-out 0.2s forwards;
    }
}